@page
@model MaisUmTesteWebApplication4.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form>
    <div class="form-group">
        <label for="usuario.Nome">Nome</label>
        <input type="text" name="Nome" value="@Model.usuario.Nome" class="form-control" placeholder="Nome" /><br />
        <label for="usuario.Senha">Senha</label>
        <input type="password" id="Senha" value="@Model.usuario.Nome" class="form-control" placeholder="Senha" /><br />
        <label>Confirmacao Senha</label>
        <input type="password" id="ConfirmacaoSenha" value="@Model.usuario.Nome" class="form-control" placeholder="Confirmacao Senha" /><br />
        <label for="usuario.Email">Email</label>
        <input type="text" name="Email" value="@Model.usuario.Nome" class="form-control" placeholder="Email" /><br />
        <label for="usuario.CPF">CPF</label>
        <input type="text" name="CPF" value="@Model.usuario.Nome" class="form-control" placeholder="CPF" /><br />
        <label for="usuario.Data de Nascimento">Data de Nascimento</label>
        <input type="date" name="Data Nascimento" value="@Model.usuario.Nome" class="form-control" placeholder="Data de Nascimento" /><br />

        <button class="btn btn-primary">Enviar</button>
    </div>
</form>